<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a href="#" class="navbar-brand">Voice Search Test</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown" appDropdown>
                    <a class="dropdown-toggle" href="#">Sentence List<span class="caret"></span></a>                        
                    <ul class="dropdown-menu">
                        <li><a href="#">List 1</a></li>
                        <li><a href="#">List 2</a></li>
                        <li><a href="#">List 3</a></li>
                    </ul>
                </li>
                <li><a href="#">Test</a></li>
                <li><a href="#">TestResults</a></li>
                <li><a href="#">Score</a></li>
                <li><a href="#">ScoreResults</a></li>
            </ul>
        </div>
    </div>
</nav>