<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a style="cursor: pointer" class="navbar-brand">Voice Search Test</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a style="cursor: pointer">Home</a></li>
                <li routerLinkActive="active"><a routerLink="/test" >Test</a></li>
                <li routerLinkActive="active"><a routerLink="/results" >TestResults</a></li>
                <li routerLinkActive="active"><a routerLink="/score">Score</a></li>
                <li routerLinkActive="active"><a routerLink="/score-res">ScoreResults</a></li>
            </ul>
        </div>
    </div>
</nav>